<div class="detail-section">
    <div class="container-fluid">
        <img src="{{ product.imageUrl }}" class="img-responsive">

        <h1>{{ product.name }} </h1>

        <div class="price">{{product.unitPrice | currency: 'CAD' }}</div>
        <button (click)="addToCart(product)" class="btn btn-primary sm">Add to Cart </button>

        <hr>
        <h4>Description</h4>
        <p> {{ product.description }}</p>

        <a routerLink="/category/{{categoryId}}" class="mt-5">Back to Product List</a>

    </div>
</div>